---
import Image from "astro/components/Image.astro";
import { type Painting } from "../../../types/index";

type Props = {
  item: Painting;
};

const { item } = Astro.props;
---

<div class="group">
  <Image src={item.imageUrl} alt={item.name} />
  <div class="text-lg">{item.name}</div>

  <div class="flex justify-between w-full mt-1">
    <div>{item.year}</div>

    <div>
      {item.size}
    </div>
  </div>
</div>
